<h1>{{title}}</h1>
<p>Welcome</p>

{{#if error}}
	<h3>{{error}}</h3>
{{/if}}

{{#if msg}}
	<h3>{{msg}}</h3>
{{/if}}
<a href="/submit">Submit</a>
<a href="/feed">Newest</a>
<a href="/scoreboard">Scoreboard</a>
